html {
background-color: white;
  box-sizing: border-box;
}
*,*::before, **::after{
  box-sizing: inherit;
}

header {
  padding: .01em;
  margin: 0em;
  background-color: white;
  width: 100%;
  text-align: center;
}

.logo {
  width: 300px;
  margin-top: 1.5em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
  padding: 0em;
  font-weight: normal;
}

h2 {
  background-color: grey;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 1.1em;
  padding: 1em;
  margin: 0;
  clear: both;
}

h3 {
  text-align: center;
  color: black;
  font-family: 'merriweather', serif;
  margin-bottom: 1em;
  font-style: ultra bold;
}

.billboard {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  position: relative;
  bottom: 3.2em;
  left: 1em;
  font-size: 1.5rem;
  margin: 0;
}

.soul {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  position: relative;
  bottom: 4em;
  left: 1em;
  font-size: 1.5rem;
  margin: 0;
}

li {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  display: inline-block;
  margin: 0em;
  padding: 0em;
}

nav li{
  float: left;
  width: 32.8%;
  color: grey;
  border: lightgrey solid 1px;
  padding: 0;
  margin-bottom: 0em;
  text-align: center;
  display: inline-block;
}

nav a{
  display: block;
  padding: 0.4em;
  margin: 0;
  background-color: white;
  color: black;
  text-decoration: none;
}

nav a:hover {
  background-color: lightgrey;
}

ol{
  margin: 0em;
  padding: 0em;
  width: 100%;
}

nav ol {
  overflow: hidden;
}

img {
  width: 100%;
  margin: 0em;
  margin-bottom: 0.5em;
  padding: 0em;
}

aside {
  float: left;
  width: 50%;
  padding: 0em;
  margin: 0em;
}

figure {
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}

footer{
  background-color: lightgrey;
  text-align: center;
  padding: 1.5em;
  margin: 6em 0em 0em 0em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: .5em;
  color: black;
  clear: both;
}

body {
  margin: 0 auto;
  padding: 0;
}
