html {
  box-sizing: border-box;
}

*,*::before, **::after{
  box-sizing: inherit;
}

header {
  padding: .01em;
  margin: 0em;
  background-color: white;
  width: 100%;
  text-align: center;
}

.logo {
  width: 300px;
  margin-top: 1.5em;
  margin-bottom: 0.6em;
  display: inline-block;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
  font-weight: normal;
  background-color: lightgrey;
  font-family: 'Lato', sans-serif, 'arial';
  font-weight: 300;
  padding: 0.5em;
  margin: 0;
}

.billboard{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  position: relative;
  bottom: 3.3em;
  left: 1em;
  font-size: 2rem;
  margin: 0;
}

.soul{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  position: relative;
  bottom: 3.5em;
  left: 1em;
  font-size: 2rem;
  margin: 0;
}

li {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  display: inline-block;
  margin: 0em;
  padding: 0em;
}

nav li{
  float: left;
  width: 32.7%;
  color: grey;
  border: lightgrey solid 1px;
  padding: 0;
  margin-bottom: 0em;
  text-align: center;
  display: inline-block;
}

nav a{
  display: block;
  padding: 0.4em;
  margin: 0;
  background-color: white;
  color: black;
  text-decoration: none;
}

nav a:hover {
  background-color: lightgrey;
}

ol{
  margin: 0em;
  padding: 0em;
  width: 100%;
}

nav ol {
  overflow: hidden;
}

img {
  width: 100%;
  margin: 0em;
  padding: 0em;
  display: block;

}

aside {
  float: left;
  width: 50%;
  padding: 0em;
  margin: 0em;
}

div {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0em;
}

footer{
  background-color: lightgrey;
  text-align: center;
  padding: 1.5em;
  margin: 0;
  margin-top: 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: .8em;
  color: black;
  clear: both;
}

body {
  margin: 0 auto;
  padding: 0;
}
